.container {
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        padding: 0;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .section5 .container {
        width: 1000px;
        padding: 0;        
    }
}

.section {
    width: 100%;
    height: 768px;
    text-align: center;
}

.section .title {
    padding: 50px 0 30px;
}

.section0 .title {
    font-weight: bold;
}

.section0 .title, .section2 .title,
.section0 .description, .section2 .description {
    color: #fff;    
}

.section1 .title,
.section1 .description {
    color: #666;
}

.section3 .title,
.section3 .description {
    color: rgb(109, 77, 46);   
}

.section4 .title, .section5 .title,
.section4 .description, .section5 .description {
    color: #999;    
}

.potato-text {
    font-weight: bold;
}

.sup-text {
    font-size: 12px;
    padding-left: 2px;
}


/* nav */
.nav {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: rgb(139, 125, 105);
}

.nav .left {
    width: 138px;
    height: 45px;
    float: left;
}

.nav .right {
    float: right;
}

.nav .menu-item {
    display: none;
    padding-right: 20px;
    font-size: 14px;
}

@media (min-width: 768px) {
    .nav {
        padding-bottom: 100px;
    }

    .nav-left {
        margin-top: 7px;
    }

    .nav .menu-item {
        display: inline-block;
    }
}

.nav .menu-item >a {
    color: #fff;
}

.nav .buy {
    width: 200px;
    height: 30px;
    border: 1px solid #fff;
    padding: 6px 10px;
    border-radius: 18px;
}

.nav .logo {
    vertical-align: middle;
}

.nav .potato-text {
    font-size: 24px;
    color: #fff;
    vertical-align: middle;
    padding-left: 4px;
}

.nav .sup-text {
    font-size: 12px;
}

.nav .toggle-btn {
    background-color: transparent;
    border: 1px solid transparent;
    margin-top: 19px;
}

@media (min-width: 768px) {
    .nav .toggle-btn {
        display: none;
        margin-top: 0;
    }
}

.nav .toggle-btn .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}

.nav .toggle-btn .icon-bar + .icon-bar {
    margin-top: 4px;
}

.nav-collapse {
    position: absolute;
    left: 0;
    top: 60px;
    display: none;
    width: 100%;
    background: rgb(139, 125, 105); 
}

.nav-collapse .menu-item {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

/* section 0 */
.section0 {
    padding-top: 60px;
    background: rgb(139, 125, 105);
    background-size: cover;
}

.section0__img {
    margin-top: 60px;
    width: 100%;
    /* padding: 0 20px; */
}

@media (min-width: 768px) {
    .section0__img {
        margin-top: 60px;
        width: 700px;
    }
}

/* section 1 */
.section1 {
    background: #fff;
}

.section1__img {
    width: 100%;
    /* padding: 0 20px; */
    margin-top: 180px;
}

.section1__img .img1 {
    width: 54%;   
}

.section1__img .img2 {
    width: 33%;
    margin-left: 10%;    
}

@media (min-width: 992px) {
    .section1__img .img1 {
        width: 424px;   
    }
    
    .section1__img .img2 {
        width: 254px;
        margin-left: 100px;   
    }
}

.section1 .potato-text {
    color: #333;
}

/* section 2 */
.section2 {
    background: rgb(68, 165, 68);
}

.section2 .lines {
    margin-top: 100px;
}
.section2 .line {
    display: inline-block;
    width: 40px;
    height: 0;
    border-top: 1px solid #fff;
    margin-right: 100px;
}
.section .line:last-child {
    margin-right: 0;
}

.setion2__img {
    position: relative;
    width: 50%;
    max-width: 275px;
    padding: 100px 20px 0;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .setion2__img {
        width: 275px;
        padding: 100px 0 0;        
    }
}

.section2 .sup-text {
    font-size: 14px;
}

.root {
    position: relative;
    display: inline-block;
    /* width: 40px; */
    width: 30px;
    height: 0;
    color: #fff;
    font-size: 14px; 
    border-top: 1px solid #fff;
    margin-top: 100px;
    /* margin-right: 54px; */
    margin-right: 15%;
}
.root:last-child {
    margin-right: 0;
}
.ballon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 100px;
    border-left: 1px dashed #fff;
    transform-origin: 0 0;
    transform: rotate(-150deg);
}
.ballon:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-bottom: -15px;  
    box-shadow: 0 0 10px 2px #fff inset;
    border-radius: 50%;
}
.ballon:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -5px;
    margin-bottom: -5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
}
.ballon1 {
    transform: rotate(-150deg);
    height: 200px;
}
.ballon2 {
    transform: rotate(-170deg);
    height: 150px;
}
.ballon3 {
    transform: rotate(180deg);
    height: 150px;
}
.ballon4 {
    transform: rotate(150deg);
    height: 200px;
}

@media (min-width: 768px) {
    .root {
        width: 40px;
        margin-right: 54%;
    }

    .ballon:before {
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-bottom: -20px;  
    }

    .ballon1 {
        height: 230px;
    }
    .ballon2 {
        height: 250px;
    }
    .ballon3 {
        height: 200px;
    }
    .ballon4 {
        height: 200px;
    }
}

.root .text {
    display: inline-block;
    width: 82px;
    position: relative;
    left: 0;
    top: 0;
    margin-left: -21px;
    word-wrap: break-word;
    word-break: normal;
}

.root .num {
    font-size: 16px;
}

@media (min-width: 768px) {
    .root {
        font-size: 20px; 
        margin-right: 100px;
    }

    .root .num {
        font-size: 38px;
    }

    .root .text {
        width: 118px;
        margin-left: -39px;
    }
}

@media (min-width: 768px) {
    .root {
        font-size: 20px; 
        margin-right: 100px;
    }

    .root .num {
        font-size: 38px;
    }

    .root .text {
        width: 118px;
        margin-left: -39px;
    }
}

/* section 3 */
.section3 {
    background: rgb(248, 229, 186);
}


/* section 4 */
.section4 {
    background: #fff;
}

.judge-wrapper {
    margin-top: 200px;
    padding: 0 20px;
}

.item {
    font-size: 24px;
}

.owl-item {
    color: #ccc;
}

.owl-item.active.center {
    color: #333;
}

.switch-btns {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.switch-btn {
    font-size: 60px;
    line-height: 100%;
    border: none;
    background: none;
}

.prev {
    position: absolute;
    left: -15px;
}

.next {
    position: absolute;
    right: -15px;
}

@media (min-width: 768px) {
    .prev {
        position: static;
        margin-right: 16.67%;
    }
    
    .next {
        position: static;
        margin-left: 16.67%;
    }
}

.author {
    border-top: 1px solid #eee;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #eee;
}

.author-name {
    color: #bbb;
}

.owl-item.active.center .author {
    border-top: 1px solid #ccc;
    color: #bbb;
}
.owl-item.active.center .author-name {
    color: #333;
}


.author:before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: #ccc transparent transparent;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -5px;
}

.author:after {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent;
    position: absolute;
    left: 50%;
    top: -1px;
    margin-left: -5px;
}


/* section 5 */
.section5 {
    background: #e7e7e7;
    height: 1960px;
}

.section5 .col {
    display: inline-block;
    float: left;
    width: 100%;
    min-height: 100px;
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.section5 .col:last-child {
    border: 0;
}

@media (min-width: 768px) {
    .section5 {
        background: #e7e7e7;
        height: 800px;
    }

    .section5 .col {
        width: 33.33%;
        max-height: 530px;  
        padding-bottom: 0;        
        border-right: 1px solid #ccc;
        border-bottom: 0px;
    }
}

.section5 .order-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.section5 .order-title b {
    font-weight: bold;
}

.section5 .order-list {
    text-align: left;
    color: #999;
    width: 60%;
    margin: 0 auto;
}

.section5 .order-list .intro {
    list-style: disc;
}

.section5 .intro {
    padding-bottom: 10px;
}

.section5 .order-info {
    /* text-align: left; */
    margin-top: 70px;
}

.section5 .order-btn {
    border: 1px solid green;
    padding: 10px 30px;
    background: none;
    color: green;
    border-radius: 30px;
}

.section5 .order-text {
    padding-top: 10px;
    font-size: 12px;
    color: #888;
}

.section5__img {
    width: 100%;
    padding: 0 20px;
    margin-top: 10px;
}

@media (min-width: 300px) {
    .section5__img {
        width: 275px;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .section5__img {
        width: 100%;
        padding: 0 20px;
    }
}


/* footer */
.footer {
    height: 100px;
    background: #fff;
}

.footer .left {
    text-align: center;
    font-size: 14px;
    color: #888;
    padding-top: 30px;
}

.footer .left .potato-img {
    vertical-align: middle;
}

.footer .right {
    display: none;
    float: right;
    padding-top: 30px;
}

.footer .right .item {
    display: inline-block;
    font-size: 14px;
    margin-left: 30px;
}

.footer .right .link {
    color: #888;
}

@media (min-width: 768px) {
    .footer .left {
        float: left;
    }

    .footer .right {
        display: inline-block;
    }
}
